<h1>ทะเบียนผู้ใช้งาน</h1>

<clr-datagrid [clrDgLoading]="loading" [(clrDgSingleSelected)]="currentUser" [clrDgRowSelection]="true">
  <clr-dg-column [clrDgField]="'name.first'">ชื่อ</clr-dg-column>
  <clr-dg-column>เพศ</clr-dg-column>
  <clr-dg-column [clrDgField]="'email'">email</clr-dg-column>
  <clr-dg-column [clrDgField]="'login.username'">username</clr-dg-column>
  <clr-dg-row *clrDgItems="let row of users" [clrDgItem]="row">
    <clr-dg-action-overflow>
      <button class="action-item" (click)="onEdit(row)">Edit</button>
      <button class="action-item" (click)="onDelete(row)">Delete</button>
    </clr-dg-action-overflow>

    <clr-dg-cell>{{row.name.title}} {{row.name.first}} {{row.name.last}}</clr-dg-cell>
    <clr-dg-cell>{{row.gender}}</clr-dg-cell>
    <clr-dg-cell>{{row.email}}</clr-dg-cell>
    <clr-dg-cell>{{row.login.username}}</clr-dg-cell>

    <clr-dg-row-detail *clrIfExpanded>
      <table class="table">
        <tr>
          <td class="table-title">โทร.</td>
          <td class="table-content">{{ row.phone }}</td>
        </tr>
        <tr>
          <td class="table-title"></td>
          <td class="table-content">
            <img [src]="row.picture.large" alt="">
          </td>
        </tr>
      </table>
    </clr-dg-row-detail>

  </clr-dg-row>
  <clr-dg-footer>
    <clr-dg-pagination #pagination [clrDgPageSize]="10">
      <clr-dg-page-size [clrPageSizeOptions]="[10,20,50,100]">rows per page</clr-dg-page-size>
      {{pagination.firstItem + 1}} - {{pagination.lastItem + 1}}
      of {{pagination.totalItems}} rows
    </clr-dg-pagination>
  </clr-dg-footer>
</clr-datagrid>

<clr-modal [(clrModalOpen)]="modalEdit" [clrModalSize]="'lg'" [clrModalStaticBackdrop]="true" [clrModalClosable]="false">
  <h3 class="modal-title">แก้ไข User</h3>
  <div class="modal-body">
      <p></p>
  </div>
  <div class="modal-footer">
      <button type="button" class="btn btn-outline">บันทึก</button>
      <button type="button" class="btn btn-primary" (click)="modalEdit = false">x Close</button>
  </div>
</clr-modal>
