<h1>ทะเบียนผู้ใช้งาน</h1>

<clr-datagrid>
  <clr-dg-column [clrDgField]="'name.first'">ชื่อ</clr-dg-column>
  <clr-dg-column [clrDgField]="'gender'">เพศ</clr-dg-column>
  <clr-dg-column [clrDgField]="'email'">email</clr-dg-column>
  <clr-dg-column [clrDgField]="'login.username'">username</clr-dg-column>

  <clr-dg-row *clrDgItems="let row of users">
    <clr-dg-cell>{{row.name.title}}{{row.name.first}} {{row.name.last}}</clr-dg-cell>
    <clr-dg-cell>{{row.gender}}</clr-dg-cell>
    <clr-dg-cell>{{row.email}}</clr-dg-cell>
    <clr-dg-cell>{{row.login.username}}</clr-dg-cell>
  </clr-dg-row>

</clr-datagrid>
