<h1>ทะเบียนผู้ใช้งาน</h1>

<hr>
ค้นหา
<select name="searchColumn" [(ngModel)]="searchColumn">
  <option value="fname">ชื่อ</option>
  <option value="lname">สกุล</option>
  <option value="tel_mobile">โทร.มือถือ</option>
</select>
<input type="text" name="searchValue" [(ngModel)]="searchValue">
<button (click)="getUser()">
  <clr-icon shape="search"></clr-icon> Process
</button>
<button (click)="onEdit()">
  <clr-icon shape="add-text"></clr-icon> Add new user
</button>

<clr-datagrid [clrDgLoading]="loading">
  <clr-dg-column [clrDgField]="'username'">Username</clr-dg-column>
  <clr-dg-column [clrDgField]="'fname'">ชื่อ-สกุล</clr-dg-column>
  <clr-dg-column [clrDgField]="'email'">email</clr-dg-column>
  <clr-dg-column [clrDgField]="'tel_mobile'">โทร</clr-dg-column>
  <clr-dg-column>Confirm</clr-dg-column>

  <clr-dg-row *clrDgItems="let item of usersList" [clrDgItem]="item">
    <clr-dg-action-overflow>
      <button class="action-item" (click)="onEdit(item)">Edit</button>
      <button class="action-item" (click)="onDelete(item)">Delete</button>
    </clr-dg-action-overflow>
    <clr-dg-cell>{{item.username}}</clr-dg-cell>
    <clr-dg-cell>{{item.prename}}{{item.fname}} {{item.lname}}</clr-dg-cell>
    <clr-dg-cell>{{item.email}}</clr-dg-cell>
    <clr-dg-cell>{{item.tel_mobile}}</clr-dg-cell>
    <clr-dg-cell>
      <clr-icon *ngIf="!item.confirmed" shape="times-circle" class="is-error" (click)="confirmUser(item)"></clr-icon>
      <clr-icon *ngIf="item.confirmed" shape="success-standard" class="is-success"></clr-icon>
    </clr-dg-cell>
  </clr-dg-row>

  <clr-dg-footer>
    <clr-dg-pagination #pagination [clrDgPageSize]="10">
      <clr-dg-page-size [clrPageSizeOptions]="[10,20,50,100]">Users per page</clr-dg-page-size>
      {{pagination.firstItem + 1}} - {{pagination.lastItem + 1}}
      of {{pagination.totalItems}} users
    </clr-dg-pagination>
  </clr-dg-footer>

</clr-datagrid>

<clr-modal [(clrModalOpen)]="modalEdit" [clrModalSize]="'lg'">
  <h3 class="modal-title">Use detail</h3>
  <div *ngIf="currentUser" class="modal-body">

    <form clrForm>
      <clr-input-container>
        <label>username:</label>
        <input clrInput type="text" [(ngModel)]="currentUser.username" name="username" />
      </clr-input-container>
      <clr-input-container>
        <label>Prename</label>
        <input clrInput type="text" [(ngModel)]="currentUser.prename" name="prename" />
      </clr-input-container>
      <clr-input-container>
        <label>ชื่อ</label>
        <input clrInput type="text" [(ngModel)]="currentUser.fname" name="fname" />
      </clr-input-container>
      <clr-input-container>
        <label>สกุล</label>
        <input clrInput type="text" [(ngModel)]="currentUser.lname" name="lname" />
      </clr-input-container>
    </form>

    <br>email: <input type="text" name="email" [(ngModel)]="currentUser.email">
    <br>โทร สนง.: <input type="text" name="tel_office" [(ngModel)]="currentUser.tel_office">
    <br>โทร มือถือ: <input type="text" name="tel_mobile" [(ngModel)]="currentUser.tel_mobile">
    <br>วันที่เริ่มใช้งาน: <input type="date" name="date_valid" [(ngModel)]="currentUser.date_valid">
    <br>วันที่สิ้นสุดการใช้งาน: <input type="date" name="date_expire" [(ngModel)]="currentUser.date_expire">

    <clr-password-container>
      <label>Password:</label>
      <input clrPassword placeholder="Password please!" name="password1" [(ngModel)]="currentUser.password1" />
    </clr-password-container>
    <clr-password-container>
      <label>ป้อนอีกครั้ง:</label>
      <input clrPassword placeholder="Password please!" name="password2" [(ngModel)]="currentUser.password2" />
    </clr-password-container>

  </div>
  <div class="modal-footer">
    <button type="button"
      [disabled]="!currentUser.username || !currentUser.fname || !currentUser.email || currentUser.password1!=currentUser.password2"
      class="btn btn-outline" (click)="onSave()">บันทึก</button>
    <button type="button" class="btn btn-primary-outline" (click)="modalEdit = false">x ปิด</button>
  </div>
</clr-modal>
